.food-item {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
   overflow: hidden;
}

.food-item-img-container {
    width: 100%;
    height: 50%;
    height: 200px; /* Set a fixed height for the image container */
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Ensure the image does not overflow the container */
    border-radius: 15px 15px 0 0;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    overflow: hidden;
}

.food-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    width: calc(100% - 20px); /* Adjust the width to leave some space for padding */
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
    margin: 0; /* Remove default margin */
}

.food-item-name-rating img {
    width: 70px;
    height: auto; /* Ensures the image retains its aspect ratio */
    margin-right: 5px;
}

.food-item-desc {
    color: #676767;
    font-size: 14px; /* Increase font size for better readability */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
    text-align: left;
}

.food-item-price {
    color: #0a0a0a;
    font-size: 20px; /* Reduce font size slightly */
    font-weight: 500;
    margin: 10px 0; /* Shorthand margin */
    margin-right: 23px;
}

.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Add smooth transition */
}

/* Change the background color when hovering over the add button */
.food-item-img-container .add:hover {
    background-color: #f8f9fa;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 30px;
}

.love {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    transform: translateY(-140px);
}
